btn {
  border: none;
  cursor: pointer;
  width: fit-content;
  max-height: fit-content !important;
  max-width: fit-content !important;
  height: fit-content;
  outline: none;
}

.paginator {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.paginator-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}

.pages {
  display: flex;
  justify-content: center;
  user-select: none;
}

.pagination {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 2px solid var(--primary-color);
}
