<div class="paginator">
  <div>
    <select class="pagination" [(ngModel)]="initialRow"
            (change)="changeRowPerPage($event)">
      <option *ngFor="let row of rowsPerPage" [value]="row">{{row}}</option>
    </select>
  </div>
  <div class="paginator-controls">
    <button class="btn-pagination" (click)="previousPage()"
            [disabled]="currentPage <= 1 || totalPagesInformation <= 1">
      <div>
        <span class="material-icons">navigate_before</span>
      </div>
    </button>
    <div class="">
      <span class="t-body-2">{{currentPage}}/{{totalPagesInformation}}</span>
    </div>
    <button class="btn-pagination" (click)="nextPage()"
            [disabled]="currentPage === totalPagesInformation || totalPagesInformation <= 1">
      <span class="material-icons">navigate_next</span>
    </button>
  </div>
</div>
