<div class="home-container">
  <span class="title">Listado de Pokemon</span>
  <app-custom-table (blockPageEmitter)="blockPage = $event"
                    (onCreateEditPokemon)="createEditHandler($event)"
                    [arrayOfPokemons]="arrayOfPokemons"
                    [(showAddPokemon)]="showAddPokemon"></app-custom-table>
  <div style="height: 24px"></div>
  <app-create-edit-pokemon style="width: 936px;"
    *ngIf="showAddPokemon"
                           [selectedPokemon]="selectedPokemon"
                           (blockPageEmitter)="blockPage = $event"
                           (actionFinishedEmitter)="eventHandler($event)"
                           id="createEditPokemonComponent"></app-create-edit-pokemon>
</div>
<app-block-page *ngIf="blockPage"></app-block-page>
