/*TABLE CSS*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 2vw;
  margin-top: 5vh;
  width: 600px;
}

.home-container > * {
  margin-bottom: 3vh;
}
