  <table>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th class="actions_header">Acciones</th>
    </tr>
    <tr *ngFor="let pokemon of arrayOfPokemons">
      <td>{{pokemon.name}}</td>
      <td>
        <img class="img-auto"
             src="{{pokemon.image}}">
      </td>
      <td>{{pokemon.attack}}</td>
      <td>{{pokemon.defense}}</td>
      <td class="actions_td actions_options">
        <span class="material-icons">border_color</span>
        <span class="material-icons">delete_outline</span>
      </td>
    </tr>
  </table>
