table {
  width: 100%;
  border-width: 2px;
  border-spacing: 2px;
  border-style: inset;
  border-collapse: collapse;
  border-color: rgba(128, 128, 128, 0.2);
  background-color: rgb(255, 255, 255);
}

table th {
  border-width: 3px;
  padding: 5px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  background-color: white;
}

table td {
  border-width: 3px;
  padding: 5px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  background-color: white;
}

table th {
  width: 100px;
}

table td {
  width: 100px;
}

.img-auto {
  width: 100%;
  height: auto;

}

.actions_header {
  width: 200px;
}

.actions_td {
  text-align: center;
  height: max-content;
  width: inherit;
}

.actions_td > * {
  margin-right: 5%;
  margin-left: 5%;
}

.actions_options {
  white-space: nowrap;
  color: var(--primary-color);
}

.actions_options > * {
  user-select: none; /* Standard */
}

.actions_options > *:hover {
  color: var(--blur-color);
  cursor: pointer;
}

.no-data {
  text-align: center;
  font-size: 1em;
}
