<div class="options_header">
  <input class="input-search" type="text" placeholder="Buscar" (input)="findPokemon($event)">
  <button class="btn" (click)="addPokemon()"><span class="material-icons">add</span>Nuevo</button>
</div>
<table>
  <tr>
    <th>Nombre</th>
    <th>Imagen</th>
    <th>Ataque</th>
    <th>Defensa</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let pokemon of pokemonsTable">
    <td>{{pokemon.name}}</td>
    <td>
      <img class="img-auto" alt="{{'Imagen de ' + pokemon.name}}"
           src="{{pokemon.image}}">
    </td>
    <td>{{pokemon.attack}}</td>
    <td>{{pokemon.defense}}</td>
    <td class="actions_options">
      <span class="material-icons" (click)="editPokemon(pokemon)">border_color</span>
      <span class="material-icons" (click)="deleteHandler(pokemon)">delete_outline</span>
    </td>
  </tr>
</table>
<div *ngIf="pokemonsTable.length == 0" class="no-data">
  <span class="material-icons" style="color: gray; font-size: 50px; margin-top: 20px;">info</span>
  <p>No hay información disponible</p>
</div>
<div>
  <app-paginator *ngIf="arrayOfPokemons.length > 0"
                 [data]="arrayOfPokemons"
                 [rows-per-page]="[5,10,15,20]"
                 [initial-row]="5"
                 (current-data-page)="getData($event)"
                 (current-row-page)="getCurrentRowPage($event)"
                 (current-page)="getCurrentPage($event)"
  ></app-paginator>
</div>
