/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  background: #f5f5fd;
  scroll-behavior: smooth;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
  font-size: 16px;
  line-height: 1.5;
  background-size: 20px 20px;
  border: 1px solid #C5CBD5;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.20);
  border-radius: 2px;
  width: 120px;
  height: 30px;
}

input:focus {
  outline: none;
  border: 1px solid #d10e28;
}

/*GLOBAL COLORS*/
:root {
  --primary-color: rgba(126, 63, 253, 0.8);
  --blur-color: rgba(126, 63, 253, 0.49);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgba(90, 87, 87, 0.3);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: fit-content;
  bottom: 100%;
  left: 50%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*Buttons*/
.btn {
  width: auto;
  height: 40px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 6px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--blur-color);
}
