<div class="container">
  <div class="card-title">
    <span>{{selectedPokemon ? 'Editar' : 'Nuevo'}} Pokemon</span>
  </div>
  <form [formGroup]="pokemonForm">
    <div class="row-2">
      <div class="input-field">
        <label for="name">Nombre: </label>
        <input type="text" formControlName="name" id="name" name="name"/>
      </div>
      <div class="input-field">
        <label for="attack">Ataque: </label>
        <div class="tooltip">
          <span class="tooltiptext">{{pokemonForm.get('attack')?.value}}</span>
          <span>0</span>
          <input type="range" formControlName="attack" id="attack" name="attack" min="0" max="100"/>
          <span>100</span>
        </div>
      </div>
    </div>
    <div class="row-2">
      <div class="input-field">
        <label for="image">Imagen:</label>
        <input type="text" formControlName="image" id="image" name="image"/>
      </div>
      <div class="input-field">
        <label for="defense">Defensa:</label>
        <div class="tooltip">
          <span class="tooltiptext">{{pokemonForm.get('defense')?.value}}</span>
          <span>0</span>
          <input type="range" formControlName="defense" id="defense" name="defense" min="0" max="100"/>
          <span>100</span>
        </div>
      </div>
    </div>
    <div class="options">
      <button class="btn {{pokemonForm.valid? '': 'btn-disabled'}}" (click)="formHandler()" [disabled]="!pokemonForm.valid"><span class="material-icons">save</span>Guardar</button>
      <button class="btn" (click)="cancel()"><span class="material-icons">close</span>Cancelar</button>
    </div>
    {{pokemonForm.valid}}
  </form>
</div>
