.container {
  border: 1px solid rgba(202, 202, 202, 0.75);
  background-color: white;
  width: 100%;
}

.container .card-title {
  padding: 2rem;
}

.card-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.row-2 {
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(2, minmax(0, 100%));
}

.row-2 .input-field {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

div.input-field label {
  display: inline-block;
  text-align: right;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%
}
